@{
    ViewBag.Title = "Buying Successful";
}

<div class="card">
    <div class="card-header">
        <h3>Buying Member-ship is successful</h3>
    </div>
    <div class="card-footer">
        <a class="btn btn-primary" asp-action="index" asp-controller="home">Goto Home</a>
    </div>
</div>